html {
    background-color: #e6e9e9;
    background-image: linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    background-image: -o-linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    background-image: -moz-linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    background-image: -webkit-linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    background-image: -ms-linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    -webkit-font-smoothing: antialiased;
}
body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    max-width: 
        1000px;
}
h6 {
    font-size: 18px;
    color: #545454;
    position: center;
}
.dalsisekce {
    clear: both
        ;
    border-top: 2px solid #545454;
    margin-top: 
        1.5em;
    margin-bottom: 
        1.5em;
    
}
#Nadpis {
    font-stretch: expanded;
    font-size-adjust: auto;   
}
.center {
    text-align: center;
}
#nasefotka {
    width: 400px;
    height: auto;
    position: absolute;
    margin-left: -12em;
}
#ramecekfotky {
    width: 190px;
    height: 190px;
    overflow: hidden;
    border-radius: 100%;
    background-image: image(P1000521.JPG);
    background-position: center;
    align-content: center;
    position:relative;
    left: 50%;
    margin-left: -6.250em;
    display: inline-block;
    border-color: white 1em thick;
    margin-top: 1.5em;
    margin-bottom: 1em;
}
#hlavaStranky {
    margin-top: 
        2em;
}
#logo {
    margin-top: 
        1em;
    width: 
        190px;
    height: 
        190px;
    position:
        relative;
    margin-left: 
        -6.250em;
    left: 
        50%;
    
}
#dolejsek {
    position: 
        center;
    margin-left: 
        auto;
    margin-right: 
        auto;
    margin-top: 
        2em;
}
#socialniSitLogo {
    width:
        40px;
    height: 
        40px;
    margin:
        0.5em;
    
}
#anglickeTlacitko {
    height:
        20.8px;
    width: 
        60.84px;
    margin-right:
        1%;
    margin-left:
        auto
        ;
    position:
        relative;
        ;
    opacity:0.67;
filter:alpha(opacity=67);
}
#ceskeTlacitko {
    height:
        20.8px;
    width: 
        60.84px;
    margin-right:
        1%;
    margin-left:
        auto
        ;
    position:
        relative;
        ;
    opacity:0.67;
filter:alpha(opacity=67);
}
/*SPONZORI*/
.box {
    width: 18em;
    height: 23em;
    font-size: 0.7em;
    display: inline-block;
    margin: 1em;
    position: relative;
    vertical-align: top;
}
.boxdata {
    margin-top: -8em;
    margin-bottom: -4em;
    display: inline-block;
    vertical-align: sub;
    height: 2em;
}
.sponzoriLogo {
    max-width: 16em;
    height: 6em;
    display: block;
    margin: 1.6em 0 0 1.6em;
}
#storek {
    width: 6em;
    height: 6em;
    margin: 0 auto 0 4em;
}
#cyklonaradi {
    margin: 0 0 -0.3em 0;
    width: 17em;
}
#margin {
    margin: 0 auto 0em auto;
}
#slider {
    margin-top: 
        2em;
    margin-bottom: 
        2em;
}
#belkin {
     margin: 0 3.5em 0em auto;
}
#jerky {
    margin: 0 5em 0em auto;